body{
    background: url("images/cat.jpg")
   no-repeat center center fixed;
    background size: cover;
}
h1
{
    color:black;
    text-align: center;
    width: 500px;
    padding: 5px;
    margin: 150px auto;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    
}
i{
    color: red;
}
div
{
    background-color: skyblue;
}
<!----em is relative>